@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


/* * {
    outline: 1px solid red;
  } */

  .scroll-hidden::-webkit-scrollbar {
    display: none;
  }
  .scroll-hidden {
    scrollbar-width: none;
  }

  @layer utilities {
    .animate-spin-slow {
      animation: spin 6s linear infinite;
    }
  }

  @layer utilities {
    .text-shadow {
      text-shadow: 1px 1px 2px black;
    }
  }
